# в корне проекта
cat > .gitignore << 'EOF'
# Python/Django
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/
*.log
#.db.sqlite3
.env
.env.*
.env.local

# Django collectstatic / медиа
/static/
/staticfiles/
/media/

# Виртуальные окружения
.venv/
venv/
ENV/

# IDE/OS
.vscode/
.idea/
.DS_Store

# Node (если есть фронт)
node_modules/
dist/
build/
EOF

# убрать уже проиндексированные файлы окружения из индекса
git rm -r --cached .venv